data
data_smoke
taming
src\mtcnn_ort
outputs
exp
.venv
*.pyc
__pycache__
templates
inputs
logs
/docs/ignored/
hf_token.txt
*.token
tests/
face2beauty/SCUT-FBP5500-Database-Release/
face2beauty/data/
face2beauty/zips/
